Small_Shop_Management_System/ShopManagementClient/Connected Services/BillServiceReference/Small_Shop_Management_System.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Small_Shop_Management_System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Small_Shop_Management_System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bill">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MobileNo" type="xs:long" />
      <xs:element minOccurs="0" name="TotalAmount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bill" nillable="true" type="tns:Bill" />
</xs:schema>